body {
  font-family: Georgia, serif;
  background-color:  rgb(102, 240, 125); 
}
.header {

 color:rgb(8, 66, 18);
  padding-top: 30px;
  padding-left: 240px;

}

.leftnav {

  height: 400px;
  width: 250px;
  background-color: rgb(2, 58, 32);
  padding-top: 250px;
  position: fixed;
  text-align: center;
  font-size: 40px;
}
.button :hover {
  background-color: rgb(85, 187, 25);
}
.button {
  position: relative;
  width: 40%;
  height: 40px;
  background-color: #a0c518; 
  border-radius: 4px;
  border: none;
  color: white;
  cursor: pointer;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}
.main {
  font: "Lato", sans-serif;
  padding-left: 600px;
  padding-top: 80px;
 
}

.anchor{
    text-decoration: none;
    color: rgb(2, 24, 3);
}

.main table{
  width: 400px;
  height: 100px;
  padding-left: 400px;
  padding-top: 60px;
  border-collapse: collapse;
  text-align: center;
} 

td, th {
  border: 5px solid rgb(153, 87, 11);
}

input[type=text] {
  width: 70%;
display: inline-block;
border: 1px solid rgb(23, 100, 131);
border-radius: 4px;
box-sizing: border-box;
padding: 12px 20px;
margin: 8px 0;
font-weight: bold;
}
input[type=submit] {
  width: 20%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  margin-left: 450px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
}

#boxtag{
margin: 20px 20px 20px 20px;
padding: 5px 5px 5px 5px;
box-sizing: content-box;
}

#form1{
  box-sizing: border-box;
  padding-bottom: 30px;
  margin-right: 300px;
  padding-top: 10px;
  border: 2px solid rgb(94, 155, 15);
}
